.headshot {
    width: 300px;
    height:auto
}

.about-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-top: 40px;
}

.about-text {
    max-width: 400px;
}

.middle {
    text-align: center;
}

.footer {
    margin-top: auto;
    text-align: center;
    
}

.job-header {
  display: flex;
  
  align-items: baseline;
}

.date {
  margin-left: 40px;
}